
@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/open-sans-400.woff2") format("woff2");
  ascent-override: 0.96875;
  descent-override: 0.2414772727;
  line-gap-override: 0;
}

@font-face {
  font-display: swap;
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/open-sans-700.woff2") format("woff2");
  ascent-override: 0.96875;
  descent-override: 0.2414772727;
  line-gap-override: 0;
}

@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/oswald-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Kurale";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Kurale-400.woff2") format("woff2");
  ascent-override: 1.095;
  descent-override: 0.383;
  line-gap-override: 0;
  size-adjust: 1.283;
}

* {
  font-family: "OpenSans";
}